/*Base Element Styles*/

* {
    box-sizing: border-box;
}
body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-color: #F1F1F1;
    margin: 0;
}

header {
    min-height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 5px 10px;
    font-size: .95em;
}

h1,
h3,
a {
    margin: 10px;
}

h2 {
    margin-top: 0;
}
a {
    color: #3a3a3a;
    text-decoration: none;
}

input {
    margin-left: 10px;
    width: 90%;
    height: 30px;
}


/*Layout Containers*/

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.page-element {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 10px;
}

.container {
    width: 426px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.video-stream {
    min-width: 246px;
    min-height: 240px;
    margin: 0 10px;
    background: lightgrey;
}

.watch-header {
    margin-top: 10px;
}

.watch-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.watch-list {
    min-height: 200px;
    min-width: 200px;
}

.video-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

/*Page Elements*/

#search {
    margin-right: auto;
    margin-left: 10px;
    width: 50%;
    height: 30px;
}

#search form {
    display: flex;
}

#search form button,
#search form input {
    flex-basis: 1;
    border-width: 1px;
    border-color: lightgrey;
}


#search button {
    width: 50px;
    height: 30px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/zoom.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

img#logo {
    margin: 0 10px;
    border-radius: 100%;
    max-width: 50px;
    display: none;
}

button {
    margin: 0 15px;
}

.video-stream iframe {
    width: 100%;
}

.preview,
.item-title p,
.item-title h5 {
    cursor: pointer;
}

.preview {
    min-width:168px;
    height: 94px;
    background: lightgrey;
    overflow: hidden;
    position:relative;
}

.preview img {
    width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    margin: auto;
}

.item-title {
    margin-left: 10px;
}

.item-title p,
.item-title h5 {
    margin: 0;
    padding: 0;
}

/*Modal container*/

.modal-container {
    position: fixed;
    background-color: #fff;
    width: 70%;
    max-width: 700px;
    left: 50%;
    padding: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    z-index: 1;

    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);

    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

.modal:before {
    content: "";
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-container {
    top: 20%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#modal-close {}


/*Media Queries*/

@media screen and (min-width: 768px) {
    
    .container {
        width: 660px;
        margin: 0 auto;
    }

    img#logo {
        display: block;
    }

        
    .video-stream,
    .video-stream iframe {
        width: 640px;
        height: 360px
    }

    .watch-header {
        padding: 20px 0;
    }
}

@media screen and (min-width: 1025px) {

    .container {
        width: 90%;
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .watch-list,
    .watch-header,
    .video-stream {
        max-width: 640px;
    }
    
    .watch-list {
        flex: 1 300px;
        height: 100%;
        margin: 0;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .container {
        width: 100%;
        margin: 0 auto;
    }
    
    .watch-list {
        max-width: 400px;
        margin: 0 20px;
    }

    .watch-header,
    .video-stream,
    .video-stream iframe {
        min-width: 854px;
    }

    .video-stream,
    .video-stream iframe {
        height: 480px;
    }

    .video-box {
        flex-basis: 854px;
    }

}